body {
        font-family: Roboto, Arial, sans-serif;
}

.thumbnail-row {
    margin-bottom: 12px;
    width: 300px;
    display: block;
}

.search-bar {
    display: block;
}

.video-title {
    margin-top: 0;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    flex-wrap: wrap;
}

.profile-picture {
    width: 40px;
    border-radius: 50%;
    vertical-align: top;
}

.channel-picture {
    width: 50px;
    display: inline-block;
}

.video-info {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}